.blocks
    @include in-page-with-sidebar
        // Blocs 2/8/2
        .heading h2,
        .block-chapter .block-content,
        .block-contact .block-content,
        .block-definitions .block-content,
        .block-files .block-content,
        .block-image .block-content,
        .block-testimonials .block-content,
        .block-license .block-content,
        .block-pages .block-content,
        .block-persons .block-content,
        .block-video .block-content
            padding-left: offset(2) !important
            width: columns(10)
        // Blocs pleine largeur
        .block-gallery .block-content
            padding-left: 0 !important
            width: 100%
        // Réglages
        .block-gallery
            &--grid
                .gallery
                    // Remettre en 4 colonnes
                    @include flexbox-grid(4)
                    // Dernière ligne centrée
                    justify-content: center
    // Navigation full width
    .block-siblings-navigation
        .block-content
            padding-left: 0 !important
